<div class='items-list-show-grid'>

  <% if @count == 0 %>
    <div id='planilha-header'>Nome do cliente
      <div id='planilha-celula'><%= cliente.nome_cliente %></div>
    </div>
    <div id='planilha-header'>Endereço do cliente
      <div id='planilha-celula'><%= cliente.endereco %></div>
    </div>
    <% @count += 1 %>
  <% else %>
    <div id='planilha-celula'><%= cliente.nome_cliente %></div>
    <div id='planilha-celula'><%= cliente.endereco %></div>
  <% end %>
</div>

<div class='detalhes-editar-apagar-links'>
  <%= link_to "Detalhes", cliente %> |
  <%= link_to "Editar", edit_cliente_path(cliente) %> |
  <%= link_to "Apagar", cliente, method: :delete %>
</div>