<%= form_with(model: @cliente, method: verbo) do |form| %>
  <div class="textboxes-grid">

    <div class='caixa-de-texto'>
      <%= form.label :"" %>
      <%= form.collection_select :codigo_municipio, Municipio.all, :codigo_municipio, :nome_municipio, 
                                 { prompt: "SELECIONA um MUNICÍPIO" }, { class: 'custom-select-tag' } %>
    </div>

    <div class='caixa-de-texto'>
      <%= form.label :"", class:'required' %>
      <%= form.text_field :nome_cliente, placeholder: "Nome do cliente" %>
    </div>

    <div class='caixa-de-texto'>
      <%= form.label :"" %>
      <%= form.text_field :endereco, placeholder: "Endereço" %>
    </div>

    <div class='caixa-de-texto'>
      <%= form.label :"" %>
      <%= form.text_field :bairro, placeholder: "Bairro" %>      
    </div>

    <div class='caixa-de-texto'>
      <%= form.label :"" %>
      <%= form.text_field :cep, placeholder: "CEP" %>
    </div>

    <div class='caixa-de-texto'>
      <%= form.label :"", class:'required' %>
      <%= form.text_field :cnpj, placeholder: "CNPJ" %>
    </div>

    <div class='caixa-de-texto'>
      <%= form.label :"" %>
      <%= form.text_field :inscricao_estadual, placeholder: "Inscrição estadual" %>
    </div>

    <div class='caixa-de-texto'>
      <%= form.label :"" %>
      <%= form.text_field :inscricao_municipal, placeholder: "Inscrição municipal" %>
    </div>

    <%= form.submit "Enviar", id: "form-submit-button" %>
  </div>
<% end %>  