<%= form_with(model: @status, method: verbo) do |form| %>
  <div class="textboxes-grid">

    <div class='caixa-de-texto'>
      <%= form.label :"", class: 'required' %>
      <%= form.collection_select :descricao_acfs, @acfs, :first, :first, 
                                 { include_blank: "SELECIONE o ORIGINÁRIO" }, 
                                 { class: 'custom-select-tag', id: 'select-originario', required: true} %>
    </div>

    <div class='caixa-de-texto'>
      <%= form.collection_select :codigo_situacao, Situacao.all, :codigo_situacao, :descricao,
                                 { include_blank: "SELECIONE uma SITUAÇÃO" },
                                 { class: 'custom-select-tag' , required: true} %>
    </div>

    <%= form.submit "Enviar", id: "form-submit-button" %>
  </div>
<% end %>