<%= form_with(model: @status, method: verbo) do |form| %>
  <div class="textboxes-grid">

    <div class='caixa-de-texto'>
      <%= form.label :"", class: 'required' %>
      <%= form.collection_select :codigo_acfs, @acfs, :last, :first, 
                                 { prompt: "SELECIONE o ORIGINÁRIO" }, 
                                 { class: 'custom-select-tag', required: true } %>
    </div>

    <div class='caixa-de-texto'>
      <%= form.label :"", class:'required' %>
      <%= form.select :tabela, options_for_select([['Atendimento', ATENDIMENTO],
                                                   ['Cliente', CLIENTE],
                                                   ['Fornecedor', FORNECEDOR],
                                                   ['Site', SITE]],
                                                  @status.tabela),
                      { include_blank: 'SELECIONE o TIPO do ORIGINÁRIO' }, 
                      { class: 'custom-select-tag', required: true } %>
    </div>

    <div class='caixa-de-texto'>
      <%= form.collection_select :codigo_situacao, Situacao.all, :codigo_situacao, :descricao,
                                 { include_blank: "SELECIONE uma SITUAÇÃO" },
                                 { class: 'custom-select-tag' } %>
    </div>

    <%= form.submit "Enviar", id: "form-submit-button" %>
  </div>
<% end %>  