<%= form_with(model: @status, method: verbo) do |form| %>
  <div class="textboxes-grid">

    <div class='caixa-de-texto'>
      <%= form.label :"", class: 'required' %>
      <%= form.collection_select :codigo_acfs, @acfs, :last, :first, 
                                { prompt: "SELECIONE o DESTINATÁRIO" }, 
                                { class: 'custom-select-tag', required: true } %>
    </div>
    
    <div class='caixa-de-texto'>
      <%= form.label :"", class:'required' %>
      <%= form.select :tabela, options_for_select([['Atendimento', ATENDIMENTO], ['Cliente', CLIENTE], 
                                                  ['Fornecedor', FORNECEDOR], ['Site', SITE]]),
                              { include_blank: 'SELECIONE o TIPO do DESTINATÁRIO' }, { class: 'custom-select-tag', required: true } %>
    </div>

    <div class='caixa-de-texto'>
      <%= form.label :"", class: 'required' %>
      <%= form.collection_select :codigo_situacao, Situacao.all.map { |s| [SITUACAO_DESCRICOES[s.codigo_situacao], s.codigo_situacao] },
                                :last, :first,
                                { prompt: "SELECIONE uma SITUACAO para o DESTINATÁRIO" },
                                { class: 'custom-select-tag', required: true } %>
    </div>

    <%= form.submit "Enviar", id: "form-submit-button" %>
  </div>
<% end %>  