<p style="color: green"><%= notice %></p>

<%= render @tipo_contato %>

<div>
  <%= link_to "Edit this tipo contato", edit_tipo_contato_path(@tipo_contato) %> |
  <%= link_to "Back to tipo contatos", tipo_contatos_path %>

  <%= button_to "Destroy this tipo contato", @tipo_contato, method: :delete %>
</div>
