<p style="color: green"><%= notice %></p>

<%= render @meio_contato %>

<div>
  <%= link_to "Edit this meio contato", edit_meio_contato_path(@meio_contato) %> |
  <%= link_to "Back to meio contatos", meio_contatos_path %>

  <%= button_to "Destroy this meio contato", @meio_contato, method: :delete %>
</div>
