<div class='items-list-show-grid'>

  <% if @count == 0 %>
    <div id='texto-nome-pessoa'>Nome da pessoa
      <div id='coluna-nome-pessoa'><%= contato.nome_pessoa %></div>
    </div>
    <div id='texto-descricao'>Descrição do contato
      <div id='coluna-descricao'><%= contato.descricao %></div>
    </div>
    <% @count += 1 %>
  <% else %>
    <div id='coluna-nome-pessoa'><%= contato.nome_pessoa %></div>
    <div id='coluna-descricao'><%= contato.descricao %></div>
  <% end %>
</div>

<div class='detalhes-apagar-links'>
  <%= link_to "Detalhes", contato %> |
  <%= link_to "Apagar", contato, method: :delete %>
</div>