<%= form_with(model: @contato, method: verbo) do |form| %>
  <div class="textboxes-grid">

    <div class='caixa-de-texto'>
      <%= form.label :"", class:'required' %>
      <%= form.select :tabela, 
                      options_for_select([["fornecedor", FORNECEDOR], ["site", SITE], ["cliente", CLIENTE]], 
                                         @contato.tabela), 
                                         { prompt: "SELECIONE a DESIGNAÇÃO" }, { class: 'custom-select-tag' } %>
    </div>

    <div class='caixa-de-texto'>
      <%= form.label :"", class:'required' %>
      <%= form.select :codigo_tipo_contato, 
                      options_from_collection_for_select(TipoContato.all, :codigo_tipo_contato, :descricao, 
                                                         @contato.codigo_tipo_contato), 
                                                         { prompt: "SELECIONE o TIPO do contato" }, { class: 'custom-select-tag' } %> 
    </div>

    <div class='caixa-de-texto'>
      <%= form.label :"", class:'required' %>
      <%= form.select :codigo_meio_contato, 
                      options_from_collection_for_select(MeioContato.all, :codigo_meio_contato, :descricao, 
                                                         @contato.codigo_meio_contato),
                                                         { prompt: "SELECIONE o MEIO do contato" }, { class: 'custom-select-tag' } %>
    </div>

    <div class='caixa-de-texto'>
      <%= form.text_field :nome_pessoa, placeholder: "Nome da pessoa" %>
    </div>

    <div class='caixa-de-texto'>
      <%= form.label :"", class:'required' %>
      <%= form.text_field :descricao, placeholder: "Descrição(email, telefone, etc)", required: true %>
    </div>

    <div class='caixa-de-texto'>
      <%= form.text_field :observacao, placeholder: "Observação" %>
    </div>

    <%= form.submit 'Enviar', id: "form-submit-button" %>
  </div>
<% end %>
