<%= form_with(model: @atendimento, method: verbo) do |form| %>
  <div class="textboxes-grid">

    <div class='caixa-de-texto'>
      <%= form.label :"", class:'required' %>
      <%= form.collection_select :designacao, Site.all, :designacao, :designacao, 
                                 { prompt: "SELECIONE uma DESIGNAÇÃO de SITE" }, 
                                 { class: 'custom-select-tag', required: true } %>
    </div>

    <div class='caixa-de-texto'>
      <%= form.label :"", class:'required' %>
       <%= form.collection_select :nome_fornecedor, Fornecedor.all, :nome_fornecedor, :nome_fornecedor,  
                                 { prompt: "SELECIONE um FORNECEDOR" }, 
                                 { class: 'custom-select-tag', required: true } %>
    </div>

    <div class='caixa-de-texto'>
      <%= form.collection_select :codigo_tecnologia_link, TecnologiaLink.all, :codigo_tecnologia_link, :descricao, 
                                 { prompt: "SELECIONE um TIPO de TECNOLOGIA do LINK" }, 
                                 { class: 'custom-select-tag' } %>
    </div>

    <div class='caixa-de-texto'>
      <%= form.collection_select :codigo_tipo_link, TipoLink.all, :codigo_tipo_link, :descricao, 
                                 { prompt: "SELECIONE um TIPO do LINK" }, 
                                 { class: 'custom-select-tag' } %>
    </div>

    <div class='caixa-de-texto'>
      <%= form.collection_select :codigo_meio_pagamento, MeioPagamento.all, :codigo_meio_pagamento, :descricao, 
                                { prompt: "SELECIONE um MEIO de PAGAMENTO" }, 
                                { class: 'custom-select-tag' } %>
    </div>

    <div class='caixa-de-texto'>
      <%= form.collection_select :codigo_equipamento, Equipamento.all, :codigo_equipamento, :descricao, 
                                 { prompt: "SELECIONE um EQUIPAMENTO" }, 
                                 { class: 'custom-select-tag' } %>
    </div>

    <div class='caixa-de-texto'>
      <%= form.label :"", class:'required' %>
      <%= form.text_field :velocidade_down, placeholder: "Velocidade de download", required: true %>
    </div>

    <div class='caixa-de-texto'>
      <%= form.text_field :velocidade_up, placeholder: "Velocidade de upload" %>
    </div>

    <div class='botao-radial'>
      <%= form.label :"Categoria do link" %>
      <%= form.radio_button :link, LINK_PRINCIPAL %>
      <%= form.label "Principal" %>
      <%= form.radio_button :link, LINK_BACKUP %>
      <%= form.label "Backup" %>
    </div>

    <div class='botao-radial'>
      <%= form.label :"Categoria do IP", required: true %>
      <%= form.radio_button :ip, IP_DINAMICO, id: 'default-option-radio-button' %>
      <%= form.label "IP dinâmico" %>
      <%= form.radio_button :ip, IP_FIXO, id: 'second-option-radio-button' %>
      <%= form.label "IP fixo" %>
    </div>

    <div class='caixa-de-texto-expandable'>
      <%= form.label :"", class:'required' %>
      <%= form.text_field :ip_fixo, placeholder: "IP fixo", required: true, id: 'expandable_text' %>
    </div>

    <div class='caixa-de-texto'>
      <%= form.text_field :pppoe_login, placeholder: "PPPOE login" %>
    </div>

    <div class='caixa-de-texto'>
      <%= form.text_field :pppoe_senha, placeholder: "PPPOE senha" %>
    </div>

    <div class='caixa-de-texto'>
      <%= form.text_field :dia_vencimento, placeholder: "Dia do vencimento" %>
    </div>

    <div class='caixa-de-texto'>
      <%= form.text_field :valor_mensal, placeholder: "Valor mensal" %>
    </div>

    <div class='caixa-de-texto'>
      <%= form.text_field :valor_instalacao, placeholder: "Valor da instalação" %>
    </div>

    <div class='caixa-de-texto'>
      <%= form.text_field :chave_pix, placeholder: "Chave PIX" %>
    </div>

    <div class='botao-quadrado'>
      <%= form.check_box :nota_fiscal, { class: 'markbox' }, NOTA_FISCAL_EXISTENTE, NOTA_FISCAL_INEXISTENTE %>
      <%= form.label "markbox_nota_fiscal", "Possui Nota Fiscal?" %>
    </div>

    <%= form.submit "Enviar", id: "form-submit-button" %>
  </div>
<% end %>  