<%= form_with(model: @fatura, method: verbo) do |form| %>
  <div class="textboxes-grid">

    <div class='caixa-de-texto'>
      <%= form.label :"", class:'required' %>
      <%= form.collection_select :codigo_atendimento_composto, Atendimento.all, :codigo_atendimento_composto, :codigo_atendimento_composto,  
                                 { include_blank: "SELECIONE um ATENDIMENTO" }, 
                                 { class: 'custom-select-tag', required: true } %>
    </div>

    <div class='caixa-de-texto'>
      <%= form.label :"", class:'required' %>
      <%= form.collection_select :codigo_status, Status.all, :codigo_status, :codigo_acfs_composto, 
                                 { include_blank: "SELECIONE um STATUS da FATURA" }, 
                                 { class: 'custom-select-tag', required: true } %>
    </div>

    <div class='caixa-de-texto'>
      <%= form.label :"", class:'required' %>
      <%= form.collection_select :codigo_meio_pagamento, MeioPagamento.all, :codigo_meio_pagamento, :descricao, 
                                { include_blank: "SELECIONE um MEIO de PAGAMENTO" }, 
                                { class: 'custom-select-tag', required: true } %>
    </div>

    <div class='caixa-de-texto'>
      <%= form.label :"", class:'required' %>
      <%= form.collection_select :codigo_grupo, Grupo.all, :codigo_grupo, :descricao, 
                                 { include_blank: "SELECIONE um AGRUPAMENTO" }, 
                                 { class: 'custom-select-tag', required: true } %>
    </div>

    <div class='caixa-de-texto'>
      <%= form.text_field :chave, placeholder: "INFORME uma chave" %>
    </div>

    <div class='caixa-de-texto'>
      <%= form.text_field :valor, placeholder: "INFORME o valor da FATURA" %>
    </div>

    <div class='caixa-de-texto-vertical'>
      <%= form.label :vencimento, "Vencimento da FATURA" %>
      <div class='selecao-datas-horizontal'>
        <%= form.date_select :vencimento, { order: [:day, :month, :year], 
                                          prompt: { day: 'Dia', month: 'Mês', year: 'Ano' } }, 
                                          { class: 'custom-select-tag' } %>
      </div>
    </div>

    <div class='botao-quadrado'>
      <%= form.check_box :instalacao, { class: 'markbox' }, SIM, NAO %>
      <%= form.label "markbox_nota_fiscal", "Instalação inclusa?" %>
    </div>

    <%= form.submit "Enviar", id: "form-submit-button" %>
  </div>
<% end %>  