<div class="formulario-cadastrar-colecao">
  <%= form_with(model: modelo, url: path, method: verbo) do |form| %>

    <div class="textboxes-cadastros">
    
      <div class="caixa-de-texto">
        <%= form.label :"", class:'required' %>
        <%= form.text_field :"#{@main_param}", 
                            placeholder: "Digite o valor de '#{@main_param.to_s.split('_').first}' para #{@classe.to_s.humanize.downcase}", 
                            required: true %>
      </div>

      <% if @additional_collections.present? && @additional_collections.any? %>
        <% @additional_collections.each_with_index do |additional_collection, collection_main_index| %>

          <% codigo_object = 'codigo_'+additional_collection.to_s.downcase %>
          <% collection_main_param = @main_param_map[collection_main_index] %>

          <div class='caixa-de-texto'>
            <%= form.label :"", class:'required' %>
            <%= form.collection_select :"#{codigo_object}", additional_collection.all, :"#{codigo_object}", :sigla, 
                                        { prompt: "SELECIONE um #{additional_collection.to_s}" }, { class: 'custom-select-tag' } %>
          </div>
        <% end %>
      <% end %>

      <% if @additional_attributes.present? && @additional_attributes.any? %>
        <% @additional_attributes.each_with_index do |additional_attribute, uniqueness_index| %>

          <div class="caixa-de-texto">
            
            <% requirement = @uniqueness_map.present? && @uniqueness_map[uniqueness_index] == 'required' ? 
                                  true : false %>
            <% requirement_class = requirement ? 'required' : 'not_required' %>

            <%= form.label :"", class: requirement_class %>
            <%= form.text_field additional_attribute,  
                                placeholder: "Digite o valor de '#{additional_attribute.to_s.split('_').first}'"+
                                             " para #{@classe.to_s.humanize.downcase}",
                                required: requirement %>
          </div>
        <% end %>
      <% end %>
      <%= form.submit "Cadastrar novo #{@classe}", id: "#{@classe.to_s.humanize.downcase}-high-privileges-form-submit-button" %>
    </div>
    <% @tabelas_secundarias = [] %>
  <% end %>
</div>
