<div class="container-entrar-usuarios">
  <div class="formulario-entrar-usuarios">
    <div class='titulo-formulario-login'>Entrada de usuário</div>
    <%= form_with(model: @usuario, url: login_path) do |form| %>
      <div class="login-form-textboxes">
        
        <div class="caixa-de-texto">
          <%= form.label :"", class:'required' %>
          <%= form.text_field :nome, placeholder: "Nome", required: true %>
        </div>
        <div class="caixa-de-texto">
          <%= form.label :"", class:'required' %>
          <%= form.password_field :password, placeholder: "Senha", required: true %>
        </div>
        
        <%= form.submit "Entrar", id: "form-submit-button" %>
      </div>
    <% end %>
      <div class='container-cadastrar-entrar-link'>
        <div>Não possui conta?</div>
        <div><%= link_to 'Cadastre-se', new_usuario_path, class:'cadastrar-entrar-link' %></div>
      </div>
  </div>
</div>