<div class="container-entrar-usuarios">
  <div class="formulario-entrar-usuarios">
    <div class='titulo-entrar-usuarios'>Entrada de usuário</div>
    <%= form_with(model: @usuario, url: login_path) do |form| %>
      <div class="login-form-textboxes">

        <%= form.label :nome %>
        <%= form.text_field :nome, placeholder: "Nome" %>

        <%= form.label :senha %>
        <%= form.password_field :password, placeholder: "Senha" %>

        <%= form.submit "Entrar", id: "login-form-submit-button" %>
      </div>
    <% end %>
      <div class='container-cadastrar-entrar-link'>
        <div>Não possui conta?</div>
        <div><%= link_to 'Cadastre-se', new_usuario_path, class:'cadastrar-entrar-link' %></div>
      </div>
  </div>
</div>