<div class="container-cadastrar-usuarios">
  <div class="formulario-cadastrar-usuarios">
    <div class='titulo-formulario-cadastros'>Cadastro de usuário</div>
    <%= form_with(model: @usuario, url: usuarios_path, method: :post) do |form| %>
      <div class="signup-form-textboxes">

        <%= form.label :nome, class:'required'  %>
        <%= form.text_field :nome, placeholder: "Nome" %>

        <%= form.label :senha, class:'required'  %>
        <%= form.password_field :password, placeholder: "Senha" %>

        <%= form.label :permissao_desejada %>
        <%= form.select :permissao, options_for_select([['Super', 1], ['Administrativo', 2], ['Técnico', 3], ['Consulta', 4]]), {}, { class: 'custom-select-tag' } %>

        <%= form.submit "Cadastrar", id: "form-submit-button" %>
      </div>
      <div class='container-cadastrar-entrar-link'>
        <div>Já possui cadastro?</div>
        <div><%= link_to 'Entrar', entrar_path, class:'cadastrar-entrar-link' %></div>
      </div>
    <% end %>
  </div>
</div>