<div class="container-cadastrar-usuarios">
  <div class="formulario-cadastrar-usuarios">
    <div class='titulo-formulario-cadastros'>Cadastro de usuário</div>
    <%= form_with(model: @usuario, url: usuarios_path, method: :post) do |form| %>
      <div class="signup-form-textboxes">

        <div class="caixa-de-texto">
          <%= form.label :"", class:'required' %>
          <%= form.text_field :nome, placeholder: "Nome", required: true %>
        </div>
        <div class="caixa-de-texto">
          <%= form.label :"", class:'required' %>
          <%= form.password_field :password, placeholder: "Senha", required: true %>
        </div>

        <%= form.select :permissao, options_for_select([['Super', SUPER], ['Administrativo', ADMINISTRATIVO], 
                                                        ['Técnico', TECNICO], ['Consulta', CONSULTA]]),
                                    { include_blank: 'Permissão desejada' }, { class: 'custom-select-tag', required: true } %>

        <%= form.submit "Cadastrar", id: "form-submit-button" %>
      </div>
      <div class='container-cadastrar-entrar-link'>
        <div>Já possui cadastro?</div>
        <div><%= link_to 'Entrar', entrar_path, class:'cadastrar-entrar-link' %></div>
      </div>
    <% end %>
  </div>
</div>