<div class='container-show'>
  <div>
    <p>Usuário: <strong><%= current_usuario.nome %></strong></p>
    <p>Nível de permissão: <strong><%= Permissao::PERMISSOES[current_usuario.permissao] %></strong></p>

    <%= link_to 'Fechar minha conta', usuario_path(current_usuario), class: 'default-delete-button close-account-link-autohide' %>
  </div>

  <div class='container-close-account-option'>
    <%= form_with(model: @usuario, url: usuario_path(current_usuario), method: :delete) do |form| %>
      <div class="close-account-form-textboxes">

        <div class="current-password-field">
          <strong><%= form.label :senha_atual %>:</strong>
          <%= form.password_field :senha_atual, placeholder: "Senha atual", autocomplete: "off" %>
        </div>

        <%= form.submit "Fechar conta", id: "close-account-form-submit-button" %>
      </div>
    <% end %>
  </div>
</div>