<%= form_with(model: @boleto, method: verbo) do |form| %>
  <div class="textboxes-grid">

    <div class='caixa-de-texto'>
      <%= form.label :"", class:'required' %>
      <%= form.collection_select :codigo_atendimento, Atendimento.all, :codigo_atendimento, :codigo_atendimento_composto,  
                                 { prompt: "SELECIONE um ATENDIMENTO" }, 
                                 { class: 'custom-select-tag', required: true } %>
    </div>

    <div class='caixa-de-texto'>
      <%= form.label :"", class:'required' %>
      <%= form.collection_select :codigo_fatura, Fatura.all, :codigo_fatura, :codigo_fatura,  
                                 { prompt: "SELECIONE uma FATURA" }, 
                                 { class: 'custom-select-tag', required: true } %>
    </div>

    <div class='caixa-de-texto'>
      <%= #form.collection_select :codigo_grupo, Grupo.all, :codigo_grupo, :codigo_grupo, 
                                 #{ prompt: "SELECIONE um AGRUPAMENTO" }, 
                                 #{ class: 'custom-select-tag', required: true }
                                 %>
    </div>

    <div class='caixa-de-texto'>
      <%= #form.collection_select :codigo_local_pagamento, LocalPagamento.all, :codigo_local_pagamento, :descricao, 
                                #{ prompt: "SELECIONE um MEIO de PAGAMENTO" }, 
                                #{ class: 'custom-select-tag', required: true } 
                                %>
    </div>

    <div class='caixa-de-texto'>
      <%= form.label :"", class:'required' %>
      <%= form.collection_select :codigo_status, Status.all, :codigo_status, :codigo_acfs_composto, 
                                 { prompt: "SELECIONE um STATUS da FATURA" }, 
                                 { class: 'custom-select-tag', required: true } %>
    </div>

    <div class='caixa-de-texto'>
      <%= form.label :"", class:'required' %>
      <%= form.collection_select :vencimento, 
                                 Fatura.select(:vencimento).distinct.order(:vencimento), :vencimento, :vencimento,  
                                 { prompt: "SELECIONE a DATA de VENCIMENTO" }, 
                                 { class: 'custom-select-tag', required: true } %>
    </div>

    <div class='caixa-de-texto'>
      <%= form.text_field :chave, placeholder: "INFORME uma chave" %>
    </div>

    <div class='caixa-de-texto'>
      <%= form.text_field :data_pagamento, placeholder: "INFORME a data de pagamento" %>
    </div>

    <div class='caixa-de-texto'>
      <%= form.text_field :valor_pagamento, placeholder: "INFORME o valor pagamento" %>
    </div>

    <div class='caixa-de-texto'>
      <%= form.text_field :observacao, placeholder: "INFORME uma observação" %>
    </div>

    <%= form.submit "Enviar", id: "form-submit-button" %>
  </div>
<% end %>  