<%= form_with(model: @boleto, method: verbo) do |form| %>
  <div class="textboxes-grid">

    <div class='caixa-de-texto'>
    <%= form.label :"", class:'required' %>
    <%= form.collection_select :codigo_atendimento_composto, Atendimento.all, :codigo_atendimento_composto, :codigo_atendimento_composto,  
                              { include_blank: "SELECIONE um ATENDIMENTO" }, 
                              { class: 'custom-select-tag', required: true } %>
    </div>

    <div class='caixa-de-texto'>
      <%= form.label :"", class:'required' %>
      <%= form.collection_select :codigo_fatura, Fatura.all, :codigo_fatura, :codigo_fatura_composto,  
                                 { include_blank: "SELECIONE uma FATURA" }, 
                                 { class: 'custom-select-tag', required: true } %>
    </div>

    <div class='caixa-de-texto'>
      <%= form.label :"", class:'required' %>
      <%= form.collection_select :descricao_grupo, Grupo.all, :descricao, :descricao, 
                                 { include_blank: "SELECIONE um AGRUPAMENTO" }, 
                                 { class: 'custom-select-tag', required: true } %>
    </div>

    <div class='caixa-de-texto'>
      <%= form.collection_select :codigo_local_pagamento, LocalPagamento.all, :codigo_local_pagamento, :descricao, 
                                { include_blank: "SELECIONE um LOCAL de PAGAMENTO" }, 
                                { class: 'custom-select-tag' } %>
    </div>

    <div class='caixa-de-texto'>
      <%= form.label :"", class:'required' %>
      <%= form.collection_select :codigo_status, Status.all, :codigo_status, :codigo_acfs_composto, 
                                 { include_blank: "SELECIONE um STATUS da FATURA" }, 
                                 { class: 'custom-select-tag', required: true } %>
    </div>

    <div class='caixa-de-texto'>
      <%= form.label :"", class:'required' %>
      <%= form.collection_select :vencimento, 
                                 Fatura.select(:vencimento).distinct.order(:vencimento), :vencimento, :vencimento,  
                                 { include_blank: "SELECIONE a DATA de VENCIMENTO" }, 
                                 { class: 'custom-select-tag', required: true } %>
    </div>

    <div class='caixa-de-texto'>
      <%= form.text_field :chave, placeholder: "INFORME uma chave" %>
    </div>

    <div class='caixa-de-texto-vertical'>
      <%= form.label :data_pagamento, "Informe a Data de Pagamento" %>
      <div class='selecao-datas-horizontal'>
        <%= form.date_select :data_pagamento, { order: [:day, :month, :year], }, 
                                              { class: 'custom-select-tag' } %>
      </div>
    </div>

    <div class='caixa-de-texto'>
      <%= form.text_field :valor_pagamento, placeholder: "INFORME o valor pagamento" %>
    </div>

    <div class='caixa-de-texto'>
      <%= form.text_field :observacao, placeholder: "INFORME uma observação" %>
    </div>

    <%= form.submit "Enviar", id: "form-submit-button" %>
  </div>
<% end %>  