<%= form_with(model: @site, method: verbo) do |form| %>
  <div class="textboxes-grid">

    <div class='caixa-de-texto'>
      <%= form.label :"", class:'required'  %>
      <%= form.collection_select :codigo_cliente, Cliente.all, :codigo_cliente, :nome_cliente, 
                                 { prompt: "SELECIONE um CLIENTE" }, 
                                 { class: 'custom-select-tag', required: true } %>
    </div>

    <div class='caixa-de-texto'>
      <%= form.collection_select :codigo_municipio, Municipio.all, :codigo_municipio, :nome_municipio, 
                                 { include_blank: "SELECIONE um MUNICÍPIO" }, { class: 'custom-select-tag' } %>
    </div>

    <div class='caixa-de-texto'>
      <%= form.collection_select :codigo_tipo_link, TipoLink.all, :codigo_tipo_link, :descricao, 
                                 { include_blank: "SELECIONE um TIPO DE LINK" }, { class: 'custom-select-tag' } %>
    </div>

    <div class='caixa-de-texto'>
      <%= form.label :"", class:'required' %>
      <%= form.text_field :designacao, placeholder: "Informe a designação", required: true %>
    </div>

    <div class='caixa-de-texto'>
      <%= form.label :"", class:'required' %>
      <%= form.text_field :nome_site, placeholder: "Informe o nome do site", required: true %>
    </div>

    <div class='caixa-de-texto'>
      <%= form.text_field :endereco, placeholder: "Informe o endereço do site" %>
    </div>

    <div class='caixa-de-texto'>
      <%= form.text_field :bairro, placeholder: "Informe o bairro do site" %>
    </div>

    <div class='caixa-de-texto'>
      <%= form.text_field :cep, placeholder: "Informe o CEP" %>
    </div>

    <div class='caixa-de-texto'>
      <%= form.text_field :coordenadalt, placeholder: "Informe o coordenada Latitudenal" %>
    </div>

    <div class='caixa-de-texto'>
      <%= form.text_field :coordenadalg, placeholder: "Informe o coordenada Longitudenal" %>
    </div>

    <div class='caixa-de-texto'>
      <%= form.label :"", class:'required' %>
      <%= form.text_field :velocidade_contratada, placeholder: "Informe o velocidade contratada (000.00)", required: true %>
    </div>

    <div class='caixa-de-texto'>
      <%= form.text_field :sla, placeholder: "Informe o SLA" %>
    </div>

    <div class='caixa-de-texto'>
      <%= form.text_field :valor_mensal, placeholder: "Informe o valor mensal" %>
    </div>

    <div class='caixa-de-texto'>
      <%= form.text_field :valor_instalacao, placeholder: "Informe o valor da instalação" %>
    </div>

    <%= form.submit "Enviar", id: "form-submit-button" %>
  </div>
<% end %>