<div class='items-list-show-grid'>

  <% if @count == 0 %>
    <div id='planilha-header'>Nome do site
      <div id='planilha-celula'><%= site.nome_site %></div>
    </div>
    <div id='planilha-header'>Descrição do site
      <div id='planilha-celula'><%= site.endereco %></div>
    </div>
    <% @count += 1 %>
  <% else %>
    <div id='planilha-celula'><%= site.nome_site %></div>
    <div id='planilha-celula'><%= site.endereco %></div>
  <% end %>
</div>

<div class='detalhes-apagar-links'>
  <%= link_to "Detalhes", site %> |
  <%= link_to "Editar", edit_site_path(site) %> |
  <%= link_to "Apagar", site, method: :delete %>
</div>