<!DOCTYPE html>
<html>
  <head>
    <title>RixSystem</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag 'javascript' %>
  </head>

  <body>    
    <%= render "shared/header" %>

    <div class="container-yield">
      <div class=div-notice>
      <% if flash[:notice] %>
        <div id="flash-text"><%= flash[:notice] %></div>
      <% end %>
      </div>

      <div class=div-success>
      <% if flash[:success] %>
        <div id="flash-text"><%= flash[:success] %></div>
      <% end %>
      </div>

      <div class=div-error>
      <% if flash[:error] %>
        <div id="flash-text"><%= flash[:error] %></div>
      <% end %>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
